/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles for the hacker-theme */
body {
    font-family: 'Courier New', Courier, monospace; /* Use monospace for hacker theme */
    background-color: #000;
    color: #00ff00;
    line-height: 1.5;
    overflow-x: hidden;
}

.container {
    max-width: 1200px; /* Adjusted for general layout */
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

/* Navigation styles */
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #00ff00; /* Menu item color */
    text-decoration: none;
    font-size: 16px; /* Adjust font size as needed */
}

nav ul li a:hover {
    color: #fff; /* Menu item color on hover */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

/* Flexbox layout for the about section */
section#about {
    display: flex;
    align-items: center; /* Center items vertically */
    gap: 20px; /* Space between image and text */
}

.left {
    flex: 1;
    text-align: center;
}

.right {
    flex: 2;
}

/* General image styling */
img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; /* Ensures padding and borders are included in the width */
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #00ff00;
    font-size: 0.9rem;
}

/* Responsive design */
@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        margin: 0; /* Remove margin for vertical menu */
    }
    nav ul li {
        margin: 5px 0; /* Adjust spacing for mobile */
    }
    .container {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    img {
        max-width: 100%;
    }
}

/* Keyframe animation for the terminal effect */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blink {
    animation: blink 1s step-start infinite;
}
<<<<<<< HEAD

/* Monospace font for header */
.monospace-header {
    font-family: 'Courier New', Courier, monospace;
}
=======
/* Ensure images are responsive */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

>>>>>>> 50e07ea6c92928e5e55d1e5c410128c19b2ae001
