---
import StarBackground from '../components/StarBackground.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Duhan Onat Karadayı - Data Scientist and Developer" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content={description}>
  <link rel="icon" type="image/png" href="/assets/dice.png">
  <title>{title}</title>
</head>
<body>
  <StarBackground />
  <slot />
</body>
</html>

<style is:global>
  @import '../styles/global.css';
</style>
